@import 'vars';
@import 'mixin';
@import 'base';
@import 'grid';
@import 'icons';
.product-preview{
  &__big-image{
    display: none;
    max-width: 500px;
    &.active{
      display: block;
    }
    & img{
      max-width: 100%;
    }
  }
  &__thumbs{

    margin: 0 -20px;
    & img{
      max-width: 100%;
      max-height: 100%;
    }
  }
}
.thumb{
  display: inline-flex;
  vertical-align: middle;
  align-item: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  cursor: pointer;
  padding: 20px;
}
.menu{
  & ul{
    list-style: none;
    text-align: center;
    & li{
      margin-left: 5px;
      border: 1px solid transparent;
      @include breakpoint(md)
      {
        float: left;
      }
      &.active{
        border: 1px solid #ffa8a8;
      }
      & a{
        display: block;
        text-decoration: none;
        color: inherit;
        padding: 8px 15px;
      }
    }
  }
}
a.icon-menu {
  position: fixed;
  top: 40px;
  right: 25px;
  display: inline-flex;
  border-radius: 50px;
  border: 4px solid #fff ;
  width: 50px;
  height: 50px;
  background: #ff7575;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.menu__opener{
  position: fixed;
  display: block;
  z-index: 5;
  @include breakpoint(md)
  {
    display: none;
    overflow: visible;
  }
  & span {
    transition: all 500ms ease-in-out;
    display: block;
    width: 43%;
    height: 11%;
    background: white;
    position: relative;
    border-radius: 10px;
    margin: 2px -8px 3px 0px;
    &:before {
      content: '';
      height: 100%;
      width: 21%;
      background: white;
      position: absolute;
      border-radius: 100%;
      margin-left: -38%;
    }
  }
}
.icon-menu-close span:before{
  height: 0;
  width: 0;
}
.icon-menu-close span{
  width: 72%;
  margin: 3px 0 3px 0;
  right: 0;
}
.icon-menu-close span:nth-child(1){
  transform: rotate(45deg);
  top: 25%;
}
.icon-menu-close span:nth-child(2){
   background: transparent;
}
.icon-menu-close span:nth-child(3){
  transform: rotate(-45deg);
  bottom: 25%;
}
.search-box{
  display: flex;
  justify-content: center;
  text-align: center;
  @include breakpoint(md)
  {
    position: absolute;
    top: 0;
    right: 15px; 
  }
    &__input{
    overflow: hidden;
    width: 170px;
    height: 40px;
    transition: 1s all ease;
    @include breakpoint(md)
    {
      width: 0px;
    }
    & input{
      font-size: 21px;
      height: inherit;
      width: inherit;
      border: 1px solid #e1e1e1;
      padding-left: 15px;
      &:focus{
        outline: 1px solid #e1e1e1;
        border: 0;
      }
      &::placeholder{
        font-size: 15px;
        color: #999999;
      }
    }
    &.selected{ 
      @include breakpoint(md)
      {
        width: 220px;
      }
    }
  }
  &__button{
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid #ffa8a8;
    cursor: pointer;
    & button{
      background: inherit;
      border: 0px;
      width: inherit;
      height: inherit;
      cursor: pointer;
    }
    &:before{
      top: 9px;
      left: 9px;
      content: '';
      position: absolute;
      display: block;
      width: 11px;
      height: 11px;
      border-radius: 14px;
      border: 2px solid #525252;
    }
    &:after{
      content: '';
      right: 6px;
      bottom: 10px;
      transform: rotate(45deg);
      position: absolute;
      display: block;
      width: 10px;
      height: 2px;
      border-radius: 14px;
      background: #525252;
    }
  }
}
.search-box_filter{
  position: static;
  .search-box__input{
    width: 100%;
    & input{
      font-size: 15px;
      color: #333333;
    }
  }

}
.header{
  position: relative;
  background-image: url("../img/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 90px;
  &__menu{
    background: #ffffffcc;
    border-bottom: 1px solid #ebebeb;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 1s all ease;
    z-index: 1;
    padding: 15px 0;
    &.active {
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
    }
    @include breakpoint(md)
    {
      position: static;
    }
  }
  &__content{
    text-align: center;
    @include breakpoint(md)
    {
      text-align: inherit;
      min-height: 320px;
    }
    padding: 20px 0;
  }
  &__nav-menu{
    background: #ffffffde;
  }
}
a.logo{
  display: block;
  margin-bottom: $ofsets;
  text-decoration: none;
  img{
      margin-bottom: $ofsets;
  }
  p{
    font-size: 12px;
    color: #33333399
  }
}
.flex-contacts-wrap{
  display: flex;
  justify-content: space-around;
}
.contacts{
  font-size: 13px;
  margin-bottom: 15px;
  &__mail{
    margin-bottom: 20px;
    & a{
      color: inherit;
      text-decoration: none;
      font-size: inherit;
    }
    &_white{
      margin-bottom: 0;
      & a{
      background-image: url("../icons/mail-icon-white.png");
      background-repeat: no-repeat;
      background-position: 4px 4px;
      background-size: 14px 11px;
      padding-left: 20px;
      text-decoration: none;
      color: #fff;
      }
    }
  }
  &__tel{
    white-space: nowrap;
    & a{
      color: #ff9999;
      font-size: 15px;
      & span{
        font-size: 21px;
        color: #333333;
      }
    }
    &_white{
      & a{
        background-image: url("../icons/tel-icon-white.png");
        color: #fff;
        & span{
          color: #fff;
        }
      }
    }
  }
}
[href^="tel:"]{
  background-image: url("../icons/tel-icon-black.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-left: 25px;
  text-decoration: none;
}
.basket{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include breakpoint(md)
  {
    align-items: normal;
  }
  &__button{
    text-align: right;
    position: relative;
    width: 135px;
    height: 40px;
    display: inline-block;
    margin-bottom: 15px;
  }
  &__info{
    text-align: left;
    color: #333333; 
    font-size: 13px;
    white-space: nowrap;
    & span{
      font-weight: bold;
    }
    & p{
      display: inline-block;
      margin-bottom: 5px;
    }
  }
}
.nav-menu{
    ul{
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    & li{
      max-width: 50%;
      min-width: 50%;
      text-align: center;
      @include breakpoint(sm)
      {
        max-width: 33.33%;
        min-width: 33.33%;
      }
      @include breakpoint(md)
      {
        max-width: 16.66%;
        min-width: 16.66%;
      }
      &.active{
        box-shadow: inset 0 -5px #ff9999;
        & a{
          color: #ff9999;
        }
      }
      & a{
        display: block;
        text-decoration: none;
        color: inherit;
        text-align: center;
        padding: 20px 0 30px 0;
        & .img-holder{
          display: block;
          min-height: 98px;
        }
      }
    }
  }
}
.margin-bottom-0{
  margin-bottom: 0;
}
.margin-bottom-50{
  margin-bottom: 50px;
}
.catalog{
  position: relative;
  text-align: center;
  color: white;
  transition: 1s all ease;
  &__filter-button{
    position: absolute;
    top:-50px;
    left: 35%;
    transition: 1s all ease;
    overflow: hidden;
    width: 120px;
    height: 40px;
    z-index: 2;
    text-align: right;
    @include breakpoint(sm)
    {
      left: 75%;
    }
    @include breakpoint(md)
    {
      left: 85%;
    }
    @include breakpoint(lg)
    {
      left: 87%;
    }
    &.active{
      position: fixed;
      top: 20px;
      left: 15px;
      @include breakpoint(md)
      {
        position: absolute;
        top:0;
        left: 75%;
      }
    }
  }
  &__pagination{
    &>ul{
      list-style: none;
      display: flex;
      justify-content: center;
      margin-bottom: 80px;
      &>li{
        margin: 3px;
      }
    }
  }
  &__filter{
    position: fixed;
    background-color: #ffffffcc;
    overflow: hidden;
    color: #333333;
    right: -100%;
    transition: 1s all ease;
    z-index: 1;
    @include breakpoint(md)
    {
      position: absolute;
      margin-top: 45px;
      transition: 1s all ease;
      right: 0px;
      width: 0px;
    }
    @include breakpoint(md)
    {
      position: absolute;
      display: block;
    }
    &_filtered{
      width: 100%;
      top: 0;
      right: 0;
      padding: 60px 15px;    
       @include breakpoint(md)
      {  
        padding: 0;
        width: 25%;
      }
    }
  }
}
.stiki-sroll{
}
.filter{
  text-align: left;
  &__value{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  &__product-chose{
    margin-bottom: 40px;
  }
  & h4{
    margin-bottom: 15px;
  }
}
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background: #fafafa; /* Old browsers */
  background: -moz-linear-gradient(top, #fafafa 0%, #dcdcdc 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fafafa 0%,#dcdcdc 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fafafa 0%,#dcdcdc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dcdcdc',GradientType=0 ); /* IE6-9 */
  border: 1px solid #bababa;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background: #fafafa; /* Old browsers */
  background: -moz-linear-gradient(top, #fafafa 0%, #dcdcdc 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fafafa 0%,#dcdcdc 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fafafa 0%,#dcdcdc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dcdcdc',GradientType=0 ); /* IE6-9 */
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background: #fafafa; /* Old browsers */
  background: -moz-linear-gradient(top, #fafafa 0%, #dcdcdc 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fafafa 0%,#dcdcdc 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fafafa 0%,#dcdcdc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dcdcdc',GradientType=0 ); /* IE6-9 */
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 1px;
  width: 2px;
  height: 6px;
  border: solid #ff9e9e;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#slider{
  margin: 15px 5px;
}
[type="checkbox"], [type="radio"] {
    + label {   
      pointer-events: auto;
    }
  }

.product{
  a{
    text-decoration: none;
    color: #333333;
  }
  position: relative;
  display: inline-block;
  background: #fff;
  color: #333333;
  font-size: 15px;
  min-height: 360px;
  &__img{
    min-height: 225px;
  }
  &__special-icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
  }
  &__title{
    margin-bottom: $ofsets;
    padding: 0 $ofsets;
    min-height: 40px;
  }
  &__price{
    margin-bottom: $ofsets;
  }
  &__button{
    width: 135px;
    height: 40px;
    margin: 2px auto;
  }
}
.button{
  position: relative;
  text-transform: uppercase;
  border: 1px solid #959595;
  background: #fff;
  cursor: pointer;
  transition: 0.3s all ease;
  & button{
    width: 100%;
    height: 100%;
    background: transparent;
    text-align: center;
    border: 0;
    text-transform: uppercase;
  }
  & i{
      position: absolute;
      background-color: transparent;
      top: 30%;
      left: 12%;
    }
  & a,span,button{
    text-decoration: none;
    display: block;
    padding: 8px 15px;
    font-size: 15px;
  }
  &.active{
    border: 1px solid #ffaaaa;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffaaaa+0,ef8282+100 */
    background: #ffaaaa; /* Old browsers */
    background: -moz-linear-gradient(top, #ffaaaa 0%, #ef8282 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffaaaa 0%,#ef8282 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffaaaa 0%,#ef8282 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaaaa', endColorstr='#ef8282',GradientType=0 ); /* IE6-9 */
    border: 1px solid #ffaaaa;
    & a,button{
      color: #fff;
    }
  }
  &:hover{
    border: 1px solid #ffaaaa;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffaaaa+0,ef8282+100 */
    background: #ffaaaa; /* Old browsers */
    background: -moz-linear-gradient(top, #ffaaaa 0%, #ef8282 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffaaaa 0%,#ef8282 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffaaaa 0%,#ef8282 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaaaa', endColorstr='#ef8282',GradientType=0 ); /* IE6-9 */
    & a,span,button{
      color: #fff;
    }
  }
}
.button_rose{
  background: #ffaaaa; /* Old browsers */
  background: -moz-linear-gradient(top, #ffaaaa 0%, #ef8282 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffaaaa 0%,#ef8282 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffaaaa 0%,#ef8282 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaaaa', endColorstr='#ef8282',GradientType=0 ); /* IE6-9 */
  border: 1px solid #ffaaaa;
  & a,span{
    color: #fff;
  }
}
.button_rose-border{
  border: 1px solid #ffa8a8;
  & a,span{
    color: #999999;
  }

}
.button_rose-filter{
  &:hover{
    & i{
      width: 19px;
      height: 15px;
      background-position: -48px -2px;
    }
  }
}
.content-section{
  color: #666666;
  text-align: left;
  margin-bottom: 50px;
  @include breakpoint(md)
  {
    margin-bottom: 100px;
  }
   &__title{
    font-size: 23px; 
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  } 
  & a{
    color: #999999;
    font-size: 13px;
  }
}
.news{
 align-items:center;
}
.news-block{
  text-align: center;
  @include breakpoint(sm)
  {
    text-align: left;
  }
  margin: 20px auto 15px auto;
  a{
    text-decoration: none;
    color: inherit;
  }
  &__img{
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 0;
    img{
      max-width: 100%;
    }
  }
  &__date{
    margin-bottom: 5px;
    & > a{
      color: #999999;
      font-style: italic;
      font-size: 13px;
    }
  }
  &__title{
    font-size: 15px;
    font-weight: bold;
  }
  &__button{
    position: absolute;
    opacity: 0;
    transition: .5S all ease;
    background: #ff7575c2;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
      opacity: 1;
    }
    & a{
      display: block;
      width: 135px;
      height: 40px;
      border: 1px solid white;
      padding: 7px;
      font-size: 15PX;
      text-transform: uppercase;
      color: #fff;
    }    
  }
}
.footer{
  text-align: center;
  @include breakpoint(md)
    {
      text-align: left;
    }
  &__top{
    background: #f0f0f0;
  }
  &__link{
    padding-top: 50px;
    padding-bottom: 50px;
    @include breakpoint(md)
    {
      margin-right: 25%;
    }
    &>ul{
      @include breakpoint(md)
      {
        columns:3;
      }
      list-style: none;
      &>li{
        list-style: none;
        &>a{
        display: block;
        line-height: 26px;
        padding: 0 15px;
        color: #666666;
        font-size: 13px;

        }
      }
    }
  }
  &__bottom{
    background: #ff7575;
    padding: 15px 0;
  }
}
.copyrighter{
  color: #fff;
  font-size: 13px;
  padding: 5px 0;
}
.reviews{
  &__title{
    float: left;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  &__count{
    float: right;
    font-size: 15px;
  }
  &__holder{
  }
  &__rate{
    float: right;
  }
  &__show-more{
    text-align: center;
    margin-bottom: 25px;
    & a{
      color: #999999;
    }
  }
  &__input{
    margin-bottom: 20px;
    input{
      min-height: 85px;
      width: 100%;
    }
  }
  &__input-title{
    float: left;
    font-size: 15px;
    margin-bottom: 10px;
  }
  &__button{
    text-align: center;
    width: 135px;
    height: 40px;
    margin: auto;
  }
}
.review{
  margin-bottom: 20px;
  &__date{
    & a{
      text-decoration: none;
      font-style: italic;
      font-size: 13px;
      color: #999999;
    }
  }
  &__author{
    font-size: 13px;
    font-weight: bold;
    float: left;
    margin-bottom: 10px;
    color: #666666;
  }
  &__rating{
    float: right;
  }
  &__text{
    background: #f0f0f0;
    padding: 20px;
  }
}
.product-about{
  float: left;
  &__title{
    font-size: 37px;
  }
  &__details{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  &__info{
    font-weight: initial;
  }
}
.order{
  background: #f0f0f0;
  padding: 30px;
  margin-bottom: 30px;
  &__price{
    font-size: 23px;
    min-width: 50px;
  }
  &__count{
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: #666666;
    margin-bottom: 20px;
  }
  &__count-holder{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 79px;
    height: 26px;
    text-align: center;
    position: relative;
    background: #fff;
    & input{
      text-align: center;
      width: 33px;
      border: 0;
      min-height: 26px;
    }
  }
  &__button{
    float: right;
  }
  &__info{
    padding-top: 20px;
    border-top: 1px solid #fff; 
  }
}
.minus,.plus{
  cursor: pointer;
  background: #f99a9a;
  width: 20px;
  height: 20px;
  position: absolute;
}
.plus{
  top:3px;
  right: 3px;
  &:before{
    content: '';
    position: absolute;
    width: 6px;
    height: 2px;
    background: #fff;
    top:9px;
    right: 7px;
  }
  &:after{
    content: '';
    position: absolute;
    width: 2px;
    height: 6px;
    background: #fff;
    top:7px;
    right: 9px;
  }
}
.minus{
  top:3px;
  left: 3px;
  &:before{
    position: absolute;
    top:9px;
    left: 8px;
    content: '';
    width: 4px;
    height: 2px;
    background: #fff;
  }
}
.delivery{
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 25px;
  &__title{
      margin-bottom: 20px;
    }
  .nighttime,.daytime{
    font-size: inherit;
    font-weight: initial;
    margin-bottom: 15px;
    & span{
      font-weight: bold;
    }
  }
}
.rate-input{
  position:relative;
  width: 80px;
  height: 15px;
  &__inner{
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    background: url('../icons/spritesheet-stars.png');
    width: 0;
    background-position: 0px 0px;;
  }
  background: url('../icons/spritesheet-stars.png');
  background-position: 0px -19px;;
}
