doctype
html
  include chunks/variables 
  head
    include chunks/head
  body
    include chunks/header
    .wrapper
      .catalog
        .row.clearfix
          each item,index in product
            .col-desktop-1-4.col-tablet-1-3.col-phone-1-2
              include chunks/product
          .catalog__filter-button
            .button.button_rose-border
              i.icon.icon-filter-icon
              a() фильтр
          .catalog__filter
            div(id="slider-range")
            p
              label(for="amount") Price range:
              input(type="text", id="amount", readonly style="border:0; color:#f6931f; font-weight:bold;")   
            .search-box.search-box_filter
              .search-box__input
                input(type="text")
              .search-box__button
                button   
      include chunks/news
    include chunks/footer
  include chunks/script

