doctype
html
  include chunks/variables 
  head
    include chunks/head
  body
    include chunks/header
    .wrapper
      .catalog
        .row.clearfix.margin-bottom-50
          each item,index in product
            .col-desktop-1-4.col-tablet-1-3.col-phone-1-2
              include chunks/product
          .catalog__filter-button
            .button.button_rose-border.button_rose-filter
              i.icon.icon-filter-icon
              span фильтр
          .catalog__filter
            .filter
              form(id="filter")
                div(id="slider")
                .filter__value         
                  span(id="spanOutputLeft")
                  span(id="spanOutputRight")
                .filter__product-chose.clearfix
                  h4 Букеты с
                  .col-1-2
                    .row.clearfix
                      label(class="container") Роза
                        input(type="checkbox" name="flower1" value="Rose" checked form="filter")
                        span(class="checkmark")
                      label(class="container") Орхидея
                        input(type="checkbox" name="flower2" value="orchid" form="filter")
                        span(class="checkmark")
                  .col-1-2
                    .row.clearfix
                      label(class="container")  Лилия
                        input(type="checkbox" name="flower3" value="lily" form="filter")
                        span(class="checkmark")
                      label(class="container")  Гербер
                        input(type="checkbox" name="flower4" value="gerbera" form="filter")
                        span(class="checkmark")
                .filter__product-chose.clearfix
                  h4 Кому
                  .col-1-2
                    .row.clearfix
                      label(class="container") Мужчина
                        input(type="checkbox" name="flower5" value="men" checked form="filter")
                        span(class="checkmark")
                      label(class="container")  Ребенок
                        input(type="checkbox" name="flower6" value="child" form="filter")
                        span(class="checkmark")
                  .col-1-2
                    .row.clearfix
                      label(class="container")  Женщина
                        input(type="checkbox" name="flower7" value="woman" form="filter")
                        span(class="checkmark")
                      label(class="container") Семья
                        input(type="checkbox" name="flower8" value="family" form="filter")
                        span(class="checkmark")
              h4 Поиск
              .search-box.search-box_filter
                .search-box__input
                  input(type="text" placeholder="Что вы ищите?")
                .search-box__button
                  button  
        .pagination
          ul
            - for (var i = 1; i < 5; i++)
              if(i==2)
                li.active
                  a(href='#')=i
              else
                li 
                  a(href='#')=i         
      include chunks/news
    include chunks/footer
  include chunks/script

