doctype
html
  include chunks/variables 
  head
    include chunks/head
  body
    include chunks/header
    .main
      .wrapper
        .row
          include chunks/news
    include chunks/footer
  include chunks/script
