.icon {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.icon-basket-icon {
    width: 19px;
    height: 18px;
    background-position: -2px -2px;
}

.icon-filter-icon {
    width: 19px;
    height: 15px;
    background-position: -25px -2px;
}

.icon-filter-icon-white {
    width: 19px;
    height: 15px;
    background-position: -48px -2px;
}

.icon-mail-icon-white {
    width: 16px;
    height: 11px;
    background-position: -71px -2px;
}

.icon-tel-icon-black {
    width: 95px;
    height: 74px;
    background-position: -91px -2px;
}

.icon-tel-icon-white {
    width: 15px;
    height: 15px;
    background-position: -190px -2px;
}
