.footer
  .footer__top
    .wrapper
      .row
        .footer__link
          ul
            each item,index in footerLinks
              li
                a(href=item.href)=item.title
  .footer__bottom.clearfix
    .wrapper
      .copyrighter.show-tablet-inline-block Служба доставки цветов &reg 2016
      .contacts.show-tablet-float-right.margin-bottom-0
        .contacts__tel.contacts__tel_white.show-tablet-inline-block
          a(href='tel:83515672146') 8 (351)
            span  567 21 46
        .contacts__mail.contacts__mail_white.show-tablet-inline-block
          a(href='mailto:buket@mail.ru') buket@mail.ru
