.header
  .header__menu
    .wrapper.position-relative
      .menu__opener
        a.icon-menu
          -for(var i=0; i<3; i++)
            span
      .menu.clearfix       
        include menu 
      .search-box
        .search-box__input
          input(type="text")
        .search-box__button
          button
  .header__content
    .wrapper
      .row.clearfix
        .col-tablet-1-4
          a(href="index.html" class="logo")
            img(src="../img/logo.png")
            p Интернет-магазин цветов
        .col-tablet-2-4
          .flex-contacts-wrap
            .contacts
              .contacts__address.
                г. Челябинск, ул. Воровского, 30А
              .contacts__mail
                a(href='mailto:buket@mail.ru') e-mail: buket@mail.ru
              .contacts__tel
                a(href='tel:8(351) 567 21 46')| 8(351) 
                  span 567 21 46
        .col-tablet-1-4
          .basket
            .basket__button
              .button.button_rose
                a(href="order.html") корзина
                i.icon.icon-basket-icon 
  .header__nav-menu
    .wrapper
      .row
        ul.nav-menu
          each item, index in navMenu
            li
              a(href=item.href)
                .img-holder
                  img(src="../img/header-menu-img"+index+".png")
                .title=item.title

