.header
  ul.header__menu.clearfix
    .wrapper
      .row
        each item in headerMenu
          li
            a(href=item.href)=item.title
        .search-box
          input.search-box__input
          button.search-box__button
  .header__content
    .wrapper
      .row
        .col-desktop-1-4
          .logo
            .logo__img
              img(src="../img/logo.png")
            .logo__title Интернет-магазин цветов
        .col-desktop-2-4
          .contacts
            .contacts__address.
              г. Челябинск, ул. Воровского, 30А
            .contacts__mail
              a(href='mailto:buket@mail.ru') e-mail: buket@mail.ru
            .contacts__tel
              a(href='tel:8(351) 567 21 46')| 8(351) 
                span 567 21 46
        .col-desktop-1-4
          .basket
            .basket__button
              a(href="#")
                img(src='../img/basket.png')
  .header__nav-menu
    .wrapper
      .row
        ul
          each item, index in navMenu
            li
              .img-holder
                img(src="../img/header-menu-img"+index+".png")
              a(href=item.href)=item.title

