.product-about
  .product-about__title Нежный букет из роз
  .order
    .order__price 2 350 руб.
    .order__button
      .button.button_rose
        button заказать
    .order__count Количество
      .order__count-holder
        .minus 
        input(value='1')
        .plus 
    .clearfix
    .order__info.
      При заказе букета вы получите 3% бонусов или 90 рублей.#[br]
      Вы их можете использовать при следующем заказе.
  .delivery 
    .delivery__title Доставка
    .delivery__time
      .daytime С 9.00 до 24.00 - 
        span 500 руб.
      .nighttime Доставка в ночное время - 
        span 700 руб.
  .product-about__details Описание букета
    .product-about__info.
      Шикарный букет из 24 крупных роз с легко читаемым подтекстом. В этой композиции 24 алых цветка и всего лишь один бутон белоснежный. Сам букет собран в форме сердца, огромного страстного сердца в котором живет всего одна, единственная, непохожая ни на кого, роза. Букет «Только ты» – отличный выбор для первого признания или предложения руки и сердца. Он так же может стать той самой «оливковой ветвью» мира при ссоре – перед искренностью такого признания не устоит ни одно женское сердце. Роскошный букет алых роз будет отличным подарком и самым романтичным признанием в любви. 
