- 
  var images = [
  'https://maki74.ru/upload/iblock/3be/3bebdd3695a156a42a053d43f081e06a.png',
  'https://maki74.ru/upload/iblock/528/5280c78f27bb7e5e66e035e073a0849b.png'
  ];
  var headerMenu =[
  {
    title: 'Доставка',
    href: "#"
  },
  {
    title: 'Оплата',
    href: "#"
  },
  {
    title: 'Гарантии',
    href: "#"
  },
  {
    title: 'Контакты',
    href: "#"
  },
  {
    title: 'Статус заказа',
    href: "#"
  }];
  var navMenu =[
  {
    title: 'Букеты',
    href: "#"
  },
  {
    title: 'Цветы',
    href: "#"
  },
  {
    title: 'Розы',
    href: "#"
  },
  {
    title: 'Композиции',
    href: "#"
  },
  {
    title: 'Подарки',
    href: "#"
  },
  {
    title: 'Свадебные букеты',
    href: "#"
  }];
  var product = [
  {
    title: 'Новогодний подарок',
    price: '2000 руб.',
    href: "detail.html",
    specialState: 'icon-burst-12',
    specialStateText: 'Хит'
  },
  {
    title: 'Букет из красных роз,  1000 шт.',
    price: '5589 руб.',
    href: "#",
    specialState: 'icon-circle',
    specialStateText: 'New'
  },
  {
    title: 'Букет из альстромерий и коробка конфет Rafaello',
    price: '1562 руб.',
    href: "#",
    specialState: 'icon-rectangle',
    specialStateText: 'Акция'
  },
  {
    title: 'Новогодний подарок',
    price: '2000 руб.',
    href: "#",
    specialState: ''
  },
  {
    title: 'Букет из красных роз,  1000 шт.',
    price: '5589 руб.',
    href: "#",
    specialState: '',
    specialStateText: ''
  },
  {
    title: 'Букет из альстромерий и коробка конфет Rafaello',
    price: '1562 руб.',
    href: "#",
    specialState: '',
    specialStateText: ''
  }];
  var news = [
  {
    title: 'Розыгрыш новогоднего подарка',
    date: '01.01.16',
    href: "#"
  },
  {
    title: 'Как украсить дом к Новому году?',
    date: '01.01.16',
    href: "#"
  },
  {
    title: 'С Новым годом 2016!',
    date: '01.01.16',
    href: "#"
  }];
  var footerLinks = [
  {
    title: 'О магазине',
    href: "#"
  },
  {
    title: 'Почему мы?',
    href: "#"
  },
  {
    title: 'Отзывы',
    href: "#"
  },
  {
    title: 'Скидки',
    href: "#"
  },
  {
    title: 'Гарантии',
    href: "#"
  },
  {
    title: 'Возврат денежных средств',
    href: "#"
  },
  {
    title: 'Корпоративные букеты  и подарки',
    href: "#"
  },
  {
    title: 'Доставка',
    href: "#"
  },
  {
    title: 'Доставка в праздничные дни',
    href: "#"
  },
  {
    title: 'Спецпредложения  к праздник',
    href: "#"
  }];
   var reviews = [
  {
    author: 'Михаил Святославович',
    date: '01.01.16',
    text: "Канна. Название интересное, цветок тропический. В диком виде в нашей стране она не произрастает, а вот на клумбах наших городов часто можно встретить Канну причём в основном красных оттенков почему то. На самом деле Канна...",
    rating:'3'
  },
  {
    author: 'Светлана Алексеева',
    date: '01.01.16',
    text: "Быстрая доставка. Сервис на уровне. Спасибо большое!!!",
    rating:'2'
  }]