- 
  var images = [
  'https://flowermag.com/wp-content/uploads/2017/08/dahlia12.jpg',
  'https://flowermag.com/wp-content/uploads/2017/08/dahlia9.jpg',
  'https://flowermag.com/wp-content/uploads/2017/08/dahlia19.jpeg'
  ];
  var headerMenu =[
  {
    title: 'Доставка',
    href: "#"
  },
  {
    title: 'Оплата',
    href: "#"
  },
  {
    title: 'Гарантии',
    href: "#"
  },
  {
    title: 'Контакты',
    href: "#"
  },
  {
    title: 'Статус заказа',
    href: "#"
  }
  ];
  var navMenu =[
  {
    title: 'Букеты',
    href: "#"
  },
  {
    title: 'Цветы',
    href: "#"
  },
  {
    title: 'Розы',
    href: "#"
  },
  {
    title: 'Композиции',
    href: "#"
  },
  {
    title: 'Подарки',
    href: "#"
  },
  {
    title: 'Свадебные букеты',
    href: "#"
  }
  ];
  var product = [
  {
    title: 'Новогодний подарок',
    price: '2000 руб.',
    href: "#"
  },
  {
    title: 'Букет из красных роз,  1000 шт.',
    price: '5589 руб.',
    href: "#"
  },
  {
    title: 'Букет из альстромерий и коробка конфет Rafaello',
    price: '1562 руб.',
    href: "#"
  },
  {
    title: 'Новогодний подарок',
    price: '2000 руб.',
    href: "#"
  },
  {
    title: 'Букет из красных роз,  1000 шт.',
    price: '5589 руб.',
    href: "#"
  },{
    title: 'Букет из альстромерий и коробка конфет Rafaello',
    price: '1562 руб.',
    href: "#"
  }
  ]; 